.card__like {
  margin: 0 20px;
  padding: 0;
  width: 22px;
  height: 19px;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

@media screen and (min-width: 620px) {
  .card__like:hover {
    opacity: 0.5;
    transition: opacity 0.1s linear;
  }
}
