.popup__form_name::placeholder {
  color: black;
  font-size: 0.875rem;
  line-height: 1.05875rem;
}

.popup__form_info::-webkit-input-placeholder {
  color: black;
  font-size: 0.875rem;
  line-height: 1.05875rem;
}

.popup__form_info::-moz-placeholder {
  color: black;
  font-size: 0.875rem;
  line-height: 1.05875rem;
}

.popup__form_info::-ms-input-placeholder  {
  color: black;
  font-size: 0.875rem;
  line-height: 1.05875rem;
}

.popup__form_name {
  padding: 0 0 13px 0;
  margin: 0 22px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 620px) {
  .popup__form_name {
    margin: 0 36px 30px;
  }
}
